version: "3.3"
services: 
  front:
    image: nginx:latest
    ports:
       - "80:80"
       - "3000:3000"
    depends_on:
      - test-app-mysql
      - django-app
    volumes:
      - type: volume
        source: mystatic
        target: /usr/src/static
        volume:
          nocopy: true
      - type: bind
        source: ./http-nginx
        target: /etc/nginx/conf.d
  test-app-mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: c4r4mb0l4
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: 123456qwe
    volumes:
      - type: bind
        source: ./mysql
        target: /var/lib/mysql
  django-app:
    build: .  
    ports:
      - "8080:8080"    
    volumes:
      - type: volume
        source: mystatic
        target: /usr/src/static
        volume:
          nocopy: true
    depends_on:
       - test-app-mysql
    #command: bash -c "./wait-for-mysql && python manage.py migrate --no-input && python manage.py collectstatic --no-input && uwsgi --ini conf.ini"
    command: ["./start"]
    #command: ["python", "manage.py","migrate","--no-input","--","python", "manage.py", "collectstatic"," --no-input"] 
volumes:
   mystatic:
